{% load static %}

<meta charset="utf-8">

{# Search Engine Optimisation #}
<title>{% block title %}Home - TS{% endblock%}</title>

{# comment other possible tags #}
<meta property="og:locale" content="en-US">
<meta property="og:site_name" content="Timothée Schmoderer">
<meta property="og:title" content="Home">
<link rel="canonical" href="https://tschmoderer.github.io/">
<meta property="og:url" content="https://tschmoderer.github.io/">
<meta property="og:description" content="About me">
<meta name="twitter:site" content="@tschmoderer">
<meta name="twitter:title" content="Home">
<meta name="twitter:description" content="About me">
<meta name="twitter:url" content="https://tschmoderer.github.io/">
<meta name="twitter:card" content="summary">
<script type="application/ld+json"> { "@context" : "http://schema.org", "@type" : "Person", "name" : "Timothée Schmoderer", "url" : "https://tschmoderer.github.io", "sameAs" : null } </script>
{# endcomment #}

{# LOAD STYLE #}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/academicons.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '_footer.css' %}" />



{% comment example head %}


<link href="https://tschmoderer.github.io/feed.xml" type="application/atom+xml" rel="alternate" title="Timothée Schmoderer Feed">
<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script>
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>
<!-- For all browsers -->

<meta http-equiv="cleartype" content="on">
<!-- start custom head snippets -->
<link rel="apple-touch-icon" sizes="57x57" href="https://tschmoderer.github.io/images/apple-touch-icon-57x57.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="60x60" href="https://tschmoderer.github.io/images/apple-touch-icon-60x60.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="72x72" href="https://tschmoderer.github.io/images/apple-touch-icon-72x72.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="76x76" href="https://tschmoderer.github.io/images/apple-touch-icon-76x76.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="114x114" href="https://tschmoderer.github.io/images/apple-touch-icon-114x114.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="120x120" href="https://tschmoderer.github.io/images/apple-touch-icon-120x120.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="144x144" href="https://tschmoderer.github.io/images/apple-touch-icon-144x144.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="152x152" href="https://tschmoderer.github.io/images/apple-touch-icon-152x152.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="180x180" href="https://tschmoderer.github.io/images/apple-touch-icon-180x180.png?v=M44lzPylqQ">
<link rel="icon" type="image/png" href="https://tschmoderer.github.io/images/favicon-32x32.png?v=M44lzPylqQ" sizes="32x32">
<link rel="icon" type="image/png" href="https://tschmoderer.github.io/images/android-chrome-192x192.png?v=M44lzPylqQ" sizes="192x192">
<link rel="icon" type="image/png" href="https://tschmoderer.github.io/images/favicon-96x96.png?v=M44lzPylqQ" sizes="96x96">
<link rel="icon" type="image/png" href="https://tschmoderer.github.io/images/favicon-16x16.png?v=M44lzPylqQ" sizes="16x16">
<link rel="manifest" href="https://tschmoderer.github.io/images/manifest.json?v=M44lzPylqQ">
<link rel="mask-icon" href="https://tschmoderer.github.io/images/safari-pinned-tab.svg?v=M44lzPylqQ" color="#000000">
<link rel="shortcut icon" href="/images/favicon.ico?v=M44lzPylqQ">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="https://tschmoderer.github.io/images/mstile-144x144.png?v=M44lzPylqQ">
<meta name="msapplication-config" content="https://tschmoderer.github.io/images/browserconfig.xml?v=M44lzPylqQ">
<meta name="theme-color" content="#ffffff">
<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
<script type="text/x-mathjax-config"> MathJax.Hub.Config({ tex2jax: { inlineMath: [ ['$','$'], ["\\(","\\)"] ], processEscapes: true } }); </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<!-- end custom head snippets -->
{% endcomment %}