asgiref==3.2.7
certifi==2020.4.5.1
chardet==3.0.4
Django==3.0.5
django-ace==1.0.7
django-appconf==1.0.4
django-compressor==2.4
django-crispy-forms==1.9.0
django-libsass==0.8
django-markdownx==3.0.1
django-sass-processor==0.8
django-widget-tweaks==1.4.8
idna==2.9
libsass==0.19.4
Markdown==3.2.1
martor==1.4.9
Pillow==7.1.1
pytz==2019.3
PyYAML==5.3.1
rcssmin==1.0.6
requests==2.23.0
rjsmin==1.1.0
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.8
