{% extends "includes/base.html" %} {% load widget_tweaks %} {% block main_body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center border bg-light">Edit your Homepage</h2>
        </div>
    </div>

    <form action="{% url 'homepage:edit_homepage' profile.user.username %}" method="POST" id="homepage-form">
        {%csrf_token%}
        <div class="row mt-2">
            <div class="col">
                <!--Title-->
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-bookmark"></i></span>
                        </div>
                        {% render_field form_homepage.title class="form-control" placeholder=form_homepage.title.label %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!--Content-->
                {{ form_homepage.content }} 
            </div>
        </div>
        <!--Button-->
        <button type="submit" class="btn btn-primary float-right" name="update_homepage_form">Update</button>
    </form>
</div>
{% endblock %}

<!--Load ace markdonw-->
{% block custom_scripts %}
{{ form_homepage.media }}
{% endblock %}