{% extends "base.html" %}

{% block profil %}

<div class="sidebar sticky">
    <div itemscope itemtype="http://schema.org/Person">
    <form action="{% url 'homepage:edit' profile.user.username %}" method="POST">
        {%csrf_token%}
        <div class="author__avatar"> 
            <img src="{{ profile.picture.url }}" alt="{{ profile.user.first_name }} {{ profile.user.last_name }}" /> 
        </div>
        <div class="author__content">
            <label>First name:</label>{{ form_user.first_name }} 
            <label>Last name:</label>{{ form_user.last_name }} 
            <label>Bio:</label>{{ form_profile.description }}
        </div>
        <div class="author__urls-wrapper">
            <button class="btn btn--inverse">Follow</button>
            <ul class="author__urls social-icons">
                <li><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>{{ form_profile.place }}</li>
                <li><i class="fa fa-fw fa-envelope-square" aria-hidden="true"></i>{{ form_user.email }}</li>
                <li><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i>{{ form_profile.twitter }}</li>
                <li><i class="fab fa-linkedin fa-fw" aria-hidden="true"></i>{{ form_profile.linkedin }}</li>
                <li><i class="fab fa-fw fa-github" aria-hidden="true"></i>{{ form_profile.github }}</li>
                <li><i class="fab fa-fw fa-youtube" aria-hidden="true"></i>{{ form_profile.youtube }}</li>
                <li><i class="ai ai-google-scholar-square ai-fw" style="color:blue"></i>{{ form_profile.scholar }}</li>
                <li><i class="ai ai-orcid-square ai-fw"></i>{{ form_profile.orcid }}</li>
                <li><i class="ai ai-arxiv-square ai-fw"></i>{{ form_profile.arxiv }}</li>
                <li><i class="fas fa-fw fa-chess" aria-hidden="true"></i>{{ form_profile.lichess }}</li>
            </ul>
        </div>
    <div style="text-align: center;">
        <input class="submit_update" type="submit" value="Update" name="update_profile_form">
        <input class="submit_cancel" type="submit" value="Cancel" name="cancel_profile_form">
    </div>    
    </form>    
    </div>
</div>

{% endblock %}

{% block title %}Edit your homepage{% endblock %}

{% block content %}

<div>
    <div style=""">
        <form action="{% url 'homepage:edit' profile.user.username %}" method="POST">
            {%csrf_token%}
            {{ form_homepage }}
            <div style="text-align: center;">
                <input class="submit_update" type="submit" value="Update" name="update_homepage_form">
                <input class="submit_cancel" type="submit" value="Cancel" name="cancel_homepage_form">
            </div>   
        </form>
        {{ form_homepage.media }}
    </div>
    <div style="width: 50%; float: right;">
        
    </div>
</div>

{% endblock %}