<footer>
  <div class="page__footer-follow">
      <ul class="social-icons">
          <li><strong>Follow :</strong></li>
          <li><a href="https://twitter.com/tschmoderer" target="_blank"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
          <li><a href="http://github.com/tschmoderer" target="_blank"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
          {# <li><a href="https://tschmoderer.github.io/feed.xml" target="_blank"><i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> Feed</a></li> #}
      </ul>
  </div>
  <div class="page__footer-copyright">
      &copy; {% now "Y" %} Timothée Schmoderer. 
      {# if login #} {# endif #} 
      <a href="{% url 'login' %}">Login</a>
      {# if logout #} {# endif #}
      <a href="{% url 'logout' %}">Logout</a>
  </div>
</footer>