<div class="container mt-2 mb-2">
    <div class="row">
        <div class="col-lg-2 text-left">
        <!-- Footer Links -->
            <div class="btn-group-vertical" role="group">
            {% if user.is_authenticated %}
                <form action="{% url 'homepage:logout' %}" method="post"> {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Logout</button>
                </form>
                {% else %}
                {% comment for modal login form %}
                <button type="button" class="btn btn-success btn-sm"><a href="" data-toggle="modal" data-target="#modalLoginForm" class="text-reset">Login</a></button>
                {% endcomment %}
                <button type="button" class="btn btn-success btn-sm"><a href="{% url 'homepage:login' %}"class="text-reset">Login</a></button>
            {% endif %}
                <button type="button" class="btn btn-secondary btn-sm mt-1"><a href="{% url 'admin:index' %}" class="text-reset">Admin</a></button>
                {#<button type="button" class="btn btn-primary btn-sm mt-1"><a href="{% url 'homepage:signup' %}" class="text-reset">Sign Up</a> </button> #}
            </div>
        <!-- Footer Links -->
        </div>
        <div class="col-lg-10 text-right">
        <!-- Copyright -->
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">
                <img alt="Creative Commons License" style="border-width:0"
                    src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" />
            </a>
            <div style="font-size: small;">
                &copy; {% now "Y" %} Timothée Schmoderer
                <div>
                    <i class="fab fa-fw fa-twitter-square" style="color: #1da1f2;" aria-hidden="true"></i>
                    <a href="https://twitter.com/tschmoderer" target="_blank" class="text-reset">Twitter</a>

                    <i class="fab fa-fw fa-github" aria-hidden="true"></i>
                    <a href="https://github.com/tschmoderer" target="_blank" class="text-reset">Github</a>
                </div>
            </div>
        <!-- Copyright -->
        </div>
    </div>
</div>