.sidebar-sticky {
    opacity: 0.75; 
    transition: opacity 0.2s ease-in-out;
    position: sticky;
    top: 1em;
}

.sidebar-sticky:hover {
    opacity: 1;
}

.music-item:hover {
    box-shadow: 5px 5px 3px grey;
}