{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}

<h2>Home</h2>

Welcome on my web page. I am currently a Ph.D. student in nonlinear control theory under the supervision of <a  Witold Respondek](http://lmi.insa-rouen.fr/membres/9-membres/professeurs/19-respondek-witold.html) from [LMI](http://lmi.insa-rouen.fr/) (Rouen) and [Emmanuel Trélat](https://www.ljll.math.upmc.fr/trelat/) from [LJLL](https://www.ljll.math.upmc.fr/) (Paris). <br/>

<h2>Interest</h2>

My PhD research are of two kind. First I want to deeply understand nonlinear dynamical control systems. Using the language of differential geometry my purpose is to classified quadratic nonlinear control systems. During his PhD [Witold Respondek](http://lmi.insa-rouen.fr/membres/9-membres/professeurs/19-respondek-witold.html) classified non linear dynamical system that are equivalent (up to a state diffeomorphism or up to feedback action) to a controllable linear system. We want to extand this results and found conditions for a system to be equivalent to a system with a prodcut of control. <br/>

On the other hand, I want to propose an improved version of the continuation method, developped first by [Yacine Chitour](http://www.l2s.centralesupelec.fr/perso/yacine.chitour). This method was developped to compute optimal control. However the method assume that we can avoid the singular set of the system. This is a practical strong assumptions. With  [Emmanuel Trélat](https://www.ljll.math.upmc.fr/trelat/) we propose a modified algorithm giving an approximation of the optimal control but dealing with the singular set of the system. <br/>

# Hobbies
I am really interested in game theory, I myself enjoy playing online chess on [Lichess](https://lichess.org/@/tschmoderer). I'm always up for a game, so if you see me online, drop a challenge! In my free time, I am developping a chess engine [iathena](https://github.com/tschmoderer/iathena) mixing alpha-beta search and Monte-Carlo search. Feel free to challenge [iathena](https://lichess.org/@/iathena) on [Lichess](https://lichess.org/@/iathena)! If you want to get involved in this journey, check the [documentation](https://tschmoderer.github.io/iathena/html/). <br/>

Always great games on [Lichess](https://lichess.org) TV: <br/>
<center>
<script src="https://lichess.org/tv/embed?theme=auto&bg=auto"></script>
</center>

<br/>



{% endblock %}