{% extends "base.html" %}

{% block nav-blog %}<strong class="nav-active">Blog Posts</strong>{% endblock %}

{% block title %}Blog{% endblock %}

{% block content %}

{% if user.is_authenticated %} 
<button type="button" class="btn btn-primary btn-sm mb-1">
    <a href="{% url 'homepage:blog:add' profile.user.username %}" class="text-reset">Add Article</a>
</button>
{% endif %}


{% for article in last_articles %}
<div class="card mb-2">
    <h5 class="card-header">{{ article.title }}</h5>
    <div class="card-body">
        <p class="card-text">{{ article.description }}</p>
        <a href="{% url 'homepage:blog:read_article' pk=article.id username=profile.user.username %}" class="btn btn-primary float-right">Read</a>
    </div>
    <div class="card-footer">
        <strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> Published :</strong> <time datetime="">{{ article.date_publi | date:'Y-m-d'}}</time>
    </div>
</div>
{% endfor %}

{% if is_paginated %}
<div class="pagination">
    {% if page_obj.has_previous %}

    {% endif %}
    Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
    {% if page_obj.has_next %}

    {% endif %}
</div>
{% endif %}


{% endblock %}