{% extends "includes/base.html" %} 
{% load widget_tweaks %} 

{% block main_body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center border bg-light">Create a project</h2>
        </div>
    </div>

    <form action="{% url 'projects:create_project' profile.user.username %}" method="POST" id="project-form" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="row mt-2">
            <div class="col">
                <!--Title-->
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-bookmark"></i></span>
                        </div>
                        {% render_field form_project.title class="form-control" placeholder=form_project.title.label %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <!--Image form field-->
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="custom-file">
                                    {% render_field form_project.image class="custom-file-input" accept="image/x-png,image/gif,image/jpeg" %}
                                    <label class="custom-file-label"
                                        for="{{ form_project.image.id_for_label }}" id="img-upload-label">{{ form_project.image.label }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Image preview-->
                <div class="row">
                    <div class="col" id="img-preview">
                        <img class="img-thumbnail mx-auto" src="/static/projects/img/default-projet.png" alt="{{ form_project.image.label  }}" />
                    </div>
                </div>
            </div>
            <div class="col-8">
                <!--Description-->
                <h4 class="border bg-light"><i class="fas fa-book" style="padding-left: 10px;"></i> Short Description</h4>
                {{ form_project.description }} 
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!--Content-->
                <h3 class="border bg-light"><i class="fas fa-book-open" style="padding-left: 10px;"></i> Content</h3>
                {{ form_project.content }} 
            </div>
        </div>
        <!--Button-->
        <button type="submit" class="btn btn-primary float-right" name="create_project_form">Create</button>
    </form>
</div>
{% endblock %}

<!--Load ace markdonw-->
{% block custom_scripts %}
{{ form_project.media }}

<script type="text/javascript">
    const profil_pict_label = document.getElementById("img-upload-label");
    const default_profil_pict_label = profil_pict_label.textContent; 
    const img_preview = document.getElementById("img-preview").getElementsByTagName('img')[0];
    const profil_pict_upload = document.getElementById("{{ form_project.image.id_for_label }}");
    // const clear_pict_btn = document.getElementById("{{ form_profile.clear_picture.id_for_label }}"); 

    profil_pict_upload.addEventListener("change", function() {
        var fileName = $(this).val().split("\\").pop();
        profil_pict_label.textContent = fileName;

        // update preview
        var file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.addEventListener('load', function(){
                img_preview.setAttribute("src", this.result);
            });
            reader.readAsDataURL(file);

            // block clear picture 
            // clear_pict_btn.setAttribute('disabled','')
        };
    }); 

    var previous_img = document.getElementById("img-preview").getElementsByTagName('img')[0].getAttribute('src'); ;
    /*
    clear_pict_btn.addEventListener("change", function(){
        if (clear_pict_btn.checked) {
            previous_img = document.getElementById("img-preview").getElementsByTagName('img')[0].getAttribute('src'); 
            // set image to default
            img_preview.setAttribute("src", '/static/homepage/img/default-profil.jpg');
            // disabeled choice of new img
            profil_pict_upload.setAttribute('disabled', '');
        } else {
            // restore previous choice and allow the browse of a new picture
            profil_pict_upload.removeAttribute('disabled', '');
            img_preview.setAttribute("src", previous_img);
        };
    });
    */
</script>
{% endblock %}