{% extends "includes/base.html" %}
{% load static %}

{% block title-page %}Projects - {{ profile.user.username }}{% endblock %}

{% block sidebar %}
    {% include 'homepage/homepage_profile.html' %}
{% endblock %}

{% block content %}
<h1>Roads and Wheels</h1>
<div class="row">
    <div class="col-md-10">
        This project is inspired by the paper from Leon Hall and Stan Wagon. You can retrieve the paper here:
        <div class="card">
            <div class="card-body">
                <a href="{% static 'projects/files/roadsandwheels.pdf' %}" target="_blank">Hall, L., & Wagon, S. (1992). Roads and wheels. Mathematics Magazine, 65(5), 283-301.</a>
            </div>
          </div>
    </div>
</div>
<p>
    The idea is two folds. 
</p>
You can retrieve the code of this project on <a href="https://github.com/tschmoderer/wheels_prj" target="_blank">github</a>.
{% endblock %}

{% block custom_scripts %}{% endblock %}