{% load static %}

<!DOCTYPE html>

<html lang="en" class="no-js">
    <head>
        {% include "header/head.html" %}  
        <title>{% block title-page %}{% endblock %}</title> 
        {% block custom_head %}
        {% endblock %}
    </head>

    <body>
        {# Top Menu #}
        <div class="masthead">
            {% block menu %}
            <div class="masthead__inner-wrap">
                <div class="masthead__menu">   
                    <nav id="site-nav" class="greedy-nav">
                        <button>
                            <div class="navicon"></div>
                        </button>
                        <ul class="visible-links">
                            <li class="masthead__menu-item masthead__menu-item--lg"><a href="{% url 'homepage:home' profile.user.username %}">{% block nav-about %}{{ profile.user.first_name }} {{ profile.user.last_name }}{% endblock %}</a></li>
                            <li class="masthead__menu-item"><a href="{% url 'homepage:blog:home' profile.user.username %}">{% block nav-blog %}Blog Posts{% endblock %}</a></li>
                            <li class="dropdown">
                                <a href="#" class="droptn">Projects <i class="fa fa-caret-down"></i></a>
                                <ul class="dropdown-content">
                                    <li class="masthead__menu-item"><a href="{% url 'homepage:music:home' profile.user.username %}">{% block nav-music %}Music{% endblock %}</a></li>
                                </ul>
                            </li>
                            
                            {% comment %}
                            <li class="masthead__menu-item">{% block nav-publication %}<a href="{% url 'publications' %}">Publications</a>{% endblock %}</li>
                            <li class="masthead__menu-item">{% block nav-teaching %}   <a href="{% url 'teaching' %}">Teaching</a>{% endblock %}</li>
                            <li class="masthead__menu-item">{% block nav-cv %}         <a href="{% url 'cv' %}">CV</a>{% endblock %}</li>
                            <li class="masthead__menu-item">{% block nav-iathena %}    <a href="{% url 'iathena' %}">IATHENA</a>{% endblock %}</li>
                            <li class="masthead__menu-item">{% block nav-contact %}    <a href="{% url 'contact' %}">Contact</a>{% endblock %}</li>
                            {% endcomment %}
                        </ul>
                    </nav>
                </div>
            </div>
            {% endblock %}
        </div>

        {# Main Part #}
        {% block main_body %}
        <div id="main" role="main">
            {# Sidebar profil #}
            
            {% block profil %}
            {% include "profil.html" %}
            {% endblock %}

            {# Main Content #}
            <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
                {% comment %}
                <meta itemprop="headline" content="Home">
                <meta itemprop="description" content="About me">
                {% endcomment %}

                <div class="page__inner-wrap">
                    <header>
                        <h1 class="page__title" itemprop="headline">{% block title %}{% endblock %} </h1>
                    </header>
                    <section class="page__content" itemprop="text">
                        {% block content %} {% endblock %}
                    </section>
                </div>
            </article>
        </div>
        {% endblock %}

        {# Footer #}
        <div class="page__footer">
            {% include "footer/foot.html" %}
        </div>

    </body>
</html>