<div class="sidebar sticky">
    <div itemscope itemtype="http://schema.org/Person">
        <div class="author__avatar"> <img src="{{ profile.picture.url }}" alt="{{ profile.user.first_name }} {{ profile.user.last_name }}" /> </div>
        <div class="author__content">
            <h3 class="author__name">{{ profile.user.first_name }} {{ profile.user.last_name }}</h3>
            <p class="author__bio">{{ profile.description }}</p>
        </div>
        <div class="author__urls-wrapper">
            <button class="btn btn--inverse">Follow</button>
            <ul class="author__urls social-icons">
                {% if profile.place %}
                <li><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>{{ profile.place }}</li>
                {% endif %}

                {% if profile.user.email %}
                <li><a href="mailto:{{ profile.user.email }}"><i class="fa fa-fw fa-envelope-square" aria-hidden="true"></i>Email</a></li>
                {% endif %}

                {% if profile.twitter %}
                <li><a href="https://twitter.com/{{ profile.twitter }}" target="_blank"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i>Twitter</a></li>
                {% endif %}

                {% if profile.linkedin %}
                <li><a href="https://www.linkedin.com/in/{{ profile.linkedin }}" target="_blank"><i class="fab fa-linkedin fa-fw" aria-hidden="true"></i>LinkedIn</a></li>
                {% endif %}

                {% if profile.github %}
                <li><a href="https://github.com/{{ profile.github }}" target="_blank"><i class="fab fa-fw fa-github" aria-hidden="true"></i>Github</a></li>
                {% endif %}

                {% if profile.youtube %}
                <li><a href="https://www.youtube.com/channel/{{ profile.youtube }}" target="_blank"><i class="fab fa-fw fa-youtube" aria-hidden="true"></i>YouTube</a></li>
                {% endif %}

                {% if profile.scholar %}
                <li><a href="https://scholar.google.fr/citations?user={{ profile.scholar }}=fr" target="_blank"><i class="ai ai-google-scholar-square ai-fw" style="color:blue"></i>Google Scholar</a></li>
                {% endif %}

                {% if profile.orcid %}
                <li><a href="https://orcid.org/{{ profile.orcid }}" target="_blank"><i class="ai ai-orcid-square ai-fw"></i>ORCID</a></li>
                {% endif %}

                {% if profile.arxiv %}
                <li><a href="https://arxiv.org/{{ profile.arxiv }}" target="_blank"><i class="ai ai-arxiv-square ai-fw"></i>Arxiv</a></li>
                {% endif %}

                {% if profile.lichess %}
                <li><a href="https://lichess.org/@/{{ profile.lichess }}" target="_blank"><i class="fas fa-fw fa-chess" aria-hidden="true"></i>Lichess</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>