{% load static %}

{% if user.is_authenticated %} 

<div class="sidebar sticky">
    <div itemscope itemtype="http://schema.org/Person">
        <div class="author__avatar"> <img src="{% static 'medias/profil.jpg' %}" alt="Timothée Schmoderer" /> </div>
        <div class="author__content">
            <h3 class="author__name">Timothée Schmoderer</h3>
            <p class="author__bio">Phd. Student in Nonlinear Control Theory.</p>
        </div>
        <div class="author__urls-wrapper">
            <button class="btn btn--inverse">Follow</button>
            <ul class="author__urls social-icons">

            </ul>
        </div>
    </div>
</div>

{% else %}

<div class="sidebar sticky">
    <div itemscope itemtype="http://schema.org/Person">
        <div class="author__avatar"> <img src="{% static 'medias/profil.jpg' %}" alt="Timothée Schmoderer" /> </div>
        <div class="author__content">
            <h3 class="author__name">Timothée Schmoderer</h3>
            <p class="author__bio">Phd. Student in Nonlinear Control Theory.</p>
        </div>
        <div class="author__urls-wrapper">
            <button class="btn btn--inverse">Follow</button>
            <ul class="author__urls social-icons">
                <li><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ profile.place }}</li>
                <li><a href="mailto:timothee.schmoderer@insa-rouen.fr"><i class="fa fa-fw fa-envelope-square" aria-hidden="true"></i> Email</a></li>
                <li><a href="https://twitter.com/tschmoderer" target="_blank"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
                <li><a href="https://www.linkedin.com/in/tschmoderer" target="_blank"><i class="fab fa-linkedin fa-fw" aria-hidden="true"></i> LinkedIn</a></li>
                <li><a href="https://github.com/tschmoderer" target="_blank"><i class="fab fa-fw fa-github" aria-hidden="true"></i> Github</a></li>
                <li><a href="https://www.youtube.com/channel/UCWEaiI8pBIMfr0OoC_gnp5A" target="_blank"><i class="fab fa-fw fa-youtube" aria-hidden="true"></i> YouTube</a></li>
                <li><a href="https://scholar.google.fr/citations?user=WxwKbngAAAAJ&hl=fr" target="_blank"><i class="ai ai-google-scholar-square ai-fw" style="color:blue"></i> Google Scholar</a></li>
                <li><a href="https://orcid.org/0000-0003-1748-1763" target="_blank"><i class="ai ai-orcid-square ai-fw"></i> ORCID</a></li>
                <li><a href="https://lichess.org/@/tschmoderer" target="_blank"><i class="fas fa-fw fa-chess" aria-hidden="true"></i> Lichess</a></li>
            </ul>
        </div>
    </div>
</div>

{% endif %}