<div class="editor-toolbar" id="editor-toolbar-{{ field_id }}">
    <div class="bg-light border">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="ml-3 btn-group" role="group">
                <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Bold" id="btn-bold"><i
                        class="fas fa-bold"></i></button>
                <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Italic" id="btn-italic"><i
                        class="fas fa-italic"></i></button>
                <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Underline" id="btn-underline"><i
                        class="fas fa-underline"></i></button>
                <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Strikeout" id="btn-strike"><i
                        class="fas fa-strikethrough"></i></button>
                <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Header" id="btn-header"><i
                        class="fas fa-heading"></i></button>
                <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Line" id="btn-line"><i
                        class="fas fa-ellipsis-h"></i></button>
                <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="List" id="btn-list"><i
                        class="fas fa-list-ul"></i></button>
                <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Numbered List" id="btn-num-list"><i
                        class="fas fa-list-ol"></i></button>
                <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Table" id="btn-table"><i
                        class="fas fa-table"></i></button>
                <button type="button" class="btn" data-container="body" data-toggle="tooltip" data-placement="top" title="Math" id="btn-math"><i class="fas fa-calculator"></i></button>
                <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Code" id="btn-code"><i
                        class="fas fa-code"></i></button>
                <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Quote" id="btn-quote"><i
                        class="fas fa-quote-right"></i></button>
                <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Link" id="btn-link"><i
                        class="fas fa-link"></i></button>
                <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Image" id="btn-image"><i
                        class="far fa-image"></i></button>
                <button id="btn-smile" class="btn" data-toggle="popover" data-container="body" type="button" data-placement="bottom"><i
                        class="far fa-smile"></i></button>
                <div id="emoji-popover-title" class="d-none"></div>
                <div id="emoji-popover-content" class="d-none"></div>
            </div>
            <div class="ml-3 btn-group" role="group">
                <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Undo" id="btn-undo"><i
                        class="fas fa-undo"></i></button>
                <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Redo" id="btn-redo"><i
                        class="fas fa-redo"></i></button>
            </div>
        </div>
    </div>
</div>